:root {
  --secondAngle:90deg;
  --cursorX: 50vw;
  --cursorY: 50vh;
  --lights: radial-gradient( circle 25vmax at var(--cursorX) var(--cursorY), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.35) 90%, rgba(0, 0, 0, 0.99) 100%); }

.track-layer {
  height: 100vh;
  width: auto; }

#flicker-eyes {
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 1%;
  -webkit-transform: rotate(var(--secondAngle));
  transform: rotate(var(--secondAngle)); }

.shadow-eyes {
  display: inline-block;
  position: fixed;
  z-index: 2;
  -webkit-transform: rotate(var(--thirdAngle));
  transform: rotate(var(--thirdAngle)); }

.eye1 {
  left: 0%;
  top: 6.8%;
  height: 40px; }

.eye2 {
  top: 0.2%;
  left: 2.65%;
  height: 30px; }

.eye3 {
  top: 1.8%;
  left: 3.2%;
  height: 50px; }

.blink-layer {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 1%;
  background-color: black; }

.top-eyelid {
  -webkit-animation: blink 7s linear infinite !important;
  animation: blink 7s linear infinite !important; }

.bottom-eyelid {
  background-color: black;
  -webkit-animation: bottomBlink 7s linear infinite !important;
  animation: bottomBlink 7s linear infinite !important; }

@keyframes vanish {
  0% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 0;
    text-shadow: none; } }
@-webkit-keyframes vanish {
  0% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 0;
    text-shadow: none; } }
@keyframes blink {
  0%, 4%, 7%, 25% {
    opacity: 1;
    -webkit-transform: translateY(-92px) rotate(-10deg);
    transform: translateY(-92px) rotate(-10deg); }
  5%, 26% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  6%, 27%, 100% {
    opacity: 1;
    -webkit-transform: translateY(-92px) rotate(-10deg);
    transform: translateY(-92px) rotate(-10deg); } }
@-webkit-keyframes blink {
  0%, 4%, 7%, 25% {
    opacity: 1;
    -webkit-transform: translateY(-92px) rotate(-10deg);
    transform: translateY(-92px) rotate(-10deg); }
  5%, 26% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  6%, 27%, 100% {
    opacity: 1;
    -webkit-transform: translateY(-92px) rotate(-10deg);
    transform: translateY(-92px) rotate(-10deg); } }
@keyframes bottomBlink {
  0%, 4%, 7%, 25% {
    opacity: 1;
    -webkit-transform: translateY(71px);
    transform: translateY(71px); }
  5%, 26% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  6%, 27%, 100% {
    opacity: 1;
    -webkit-transform: translateY(71px);
    transform: translateY(71px); } }
@-webkit-keyframes bottomBlink {
  0%, 4%, 7%, 25% {
    opacity: 1;
    -webkit-transform: translateY(71px);
    transform: translateY(71px); }
  5%, 26% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  6%, 27%, 100% {
    opacity: 1;
    -webkit-transform: translateY(71px);
    transform: translateY(71px); } }
@media screen and (max-width: 1150px) {
  #flicker-eyes {
    height: 40px; }

  .blink-layer {
    width: 50px;
    height: 50px; }

  .shadow-eyes {
    opacity: 0; } }

/*# sourceMappingURL=EyeTrack.css.map */
