:root {
    --imgAngle: 90deg;
    --imgTranslate: 0px;
    --imgScale: 1;
    --secondAngle:90deg;
}

.circle-eyes {
    position: relative;
    width: 80px;
}

#flicker-eyes {
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 0%;
    -webkit-transform: rotate(var(--secondAngle));
    transform: rotate(var(--secondAngle));
}

@keyframes vanish {
    0% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 0;
        text-shadow: none;
    }
}

@-webkit-keyframes vanish {
    0% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 0;
        text-shadow: none;
    }
}
