:root {
    --cursorX: 50vw;
    --cursorY: 50vh;
    --animation-time: 5s;
    --lights: radial-gradient( circle 25vmax at var(--cursorX) var(--cursorY), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.35) 90%, rgba(0, 0, 0, 0.99) 100%);
}

:root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: var(--lights);
    z-index: 3;
}

.white-font {
    color: snow;
}

.flip-up {
    transform: rotateX(180deg);
}

.light-switch {
    position: fixed;
    height: 100px;
    width: auto;
    top: 1%;
    right: 0%;
}

.light-text {
    position: absolute;
    left: 47%;
    bottom: 7%;
}

#title-glitch3 {
    -webkit-animation: glitchLayer 1s linear alternate infinite;
    animation: glitchLayer 1s linear alternate infinite;
}

#title-glitch4 {
    -webkit-animation: glitchLayer2 2s ease alternate infinite;
    animation: glitchLayer2 2s ease alternate infinite;
}

.no-access {
    opacity: 0;
}

.yes-access {
    opacity: 1;
}

.no-allow {
    opacity: 0;
    transform: scale(0);
}

.yes-allow {
    opacity: 1;
    transform: scale(1);
}

.yes-allow:hover {
    -webkit-animation: neonText 1.5s ease-in-out infinite alternate;
    animation: neonText 1.5s ease-in-out infinite alternate;
}

@keyframes neonText {
    0% {
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0000, 0 0 70px #FF0000, 0 0 80px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000;
    }

    50% {
        text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0000, 0 0 35px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 75px #FF0000;
    }

    100% {
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0000, 0 0 70px #FF0000, 0 0 80px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000;
    }
}

@-webkit-keyframes neonText {
    0% {
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0000, 0 0 70px #FF0000, 0 0 80px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000;
    }

    50% {
        text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0000, 0 0 35px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 75px #FF0000;
    }

    100% {
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0000, 0 0 70px #FF0000, 0 0 80px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000;
    }
}

@-webkit-keyframes glitchLayer {
    0%, 36.5% {
        opacity: 0;
    }

    38%, 67.5% {
        opacity: 0.4;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    72% {
        opacity: 0.4;
        transform: scale(1.3);
        transform: translate3d(-20px, -20px, 0px);
    }

    39.5%, 66%, 69%, 73.5%, 100% {
        opacity: 0;
        transform: scale(1);
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes glitchLayer {
    0%, 36.5% {
        opacity: 0;
    }

    38%, 67.5% {
        opacity: 0.4;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    72% {
        opacity: 0.4;
        transform: scale(1.3);
        transform: translate3d(-20px, -20px, 0px);
    }

    39.5%, 66%, 69%, 73.5%, 100% {
        opacity: 0;
        transform: scale(1);
        transform: translate3d(0px, 0px, 0px);
    }
}

@-webkit-keyframes glitchLayer2 {
    0%, 36.5% {
        opacity: 0;
    }

    38%, 67.5% {
        opacity: 0.4;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    72% {
        opacity: 0.4;
        transform: scale(1.3);
        transform: translate3d(-20px, -20px, 0px);
    }

    39.5%, 66%, 69%, 73.5%, 100% {
        opacity: 0;
        transform: scale(1);
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes glitchLayer2 {
    0%, 36.5% {
        opacity: 0;
    }

    38%, 67.5% {
        opacity: 0.4;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    72% {
        opacity: 0.4;
        transform: scale(1.3);
        transform: translate3d(40px, 40px, 0px);
    }

    39.5%, 66%, 69%, 73.5%, 100% {
        opacity: 0;
        transform: scale(1);
        transform: translate3d(0px, 0px, 0px);
    }
}

@media screen and (max-width: 1200px) {
    .light-switch {
        height: 40px;
    }

    .light-text {
        bottom: 30%;
        left: 45%;
    }
}

@media screen and (orientation: portrait) and (max-width: 450px) {
    .light-text {
        bottom: 30%;
        left: 39%;
    }
}

@media screen and (orientation: landscape) and (max-width: 700px) {
    .light-text {
        bottom: 3%;
        left: 44%;
    }
}
