:root {
    --cursorX: 50vw;
    --cursorY: 50vh;
    --animation-time: 5s;
    --lights: radial-gradient( circle 15vmax at var(--cursorX) var(--cursorY), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.35) 90%, rgba(0, 0, 0, 0.99) 100%);
}

:root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: var(--lights);
    z-index: 3;
}

.flip-up {
    transform: rotateX(180deg);
}

.light-layer {
    padding-top: 3%;
}

.light-switch {
    height: 100px;
    width: auto;
}
