input {
    font-family: Spooky;
}

.focus-layer {
    text-align: center;
    height: auto;
    background-image: url("../img/snow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.focus-fill {
    position: relative;
    top: 5%;
    padding-bottom: 1em;
}

.focus-title {
    padding-top: 1em;
    margin-bottom: 0.5em;
    font-size: 45px;
}

.focus-data {
    display: inline-block;
    vertical-align: top;
    padding: 2em;
    width: 200px;
    z-index: 2;
}

.focus-images {
    max-height: 50px;
    max-width: 50px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.3);
        box-shadow: 0 24px 88px -8px rgba(30, 30, 30, 0.352);
    }
}

#form-layer {
    padding-bottom: 1.5em;
}

.focus-font {
    font-weight: bolder;
    font-size: 20px;
}

.fail-layer {
    position: relative;
    z-index: 1;
}
